
.App {
  text-align: center;
  margin-top: 100px;
  color: white;

}
body{
  background-color: rgb(10, 45, 86);
}

.inputField{
  width: 60%;
  height: 30px;
  font-size: 1.3rem;
  margin: 20px;

}
h1{
  font-size: 2.2rem;
  margin-bottom: 40px;
  font-family: 'Courier New', Courier, monospace;
}

button{
  font-family: 'Courier New', Courier, monospace;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  height: 30px;
 
}
button:hover {
  background-color: rgb(33, 147, 153);
}

.todoForm {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todoField{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin: 40px ;
  font-size: 1.5rem;
  border-radius: 5px;
  border: 2px solid black;
  color: black;
  background-color: white;
 
 }

 .todoText{
  width: 100%;
  text-align: left;
 }